/* Base CSS Goes Below */

body {
  width: 480px;
  margin: 0 auto;
  background: #888;
  color: #fff;
}

header {
  width: 100%;
  height: 130px;
  background: #444;
  color: #fff;
  position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover
{
     color: inherit;
     text-decoration:none;
     cursor:pointer;
}
