header img {
  width: 20%;
  margin: 10px;
  display: inline-block;
}

header h1 {
  position: absolute;
  top: 35%;
  display: inline-block;
  font-size: 35px;
  text-align: center;
  width: 80%;
}

/* Dynamic Book List Styling */

.book {
  border: 5px solid black;
  width: 470px;
  height: 400px;
  margin: 30px auto;
  background: #444;
  position: relative;
  clear: both;
  overflow: none;
}

.book img {
  height: 400px;
  float: left;
  border-right: 5px solid black;
}

.book h2, .details h2 {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.book p, .details h3{
  font-size: 32px;
  text-align: center;
  padding-top: 20px;
  font-style: italic;
}

/* Detailed View Styling */

.details {
  border: 5px solid black;
  width: 470px;
  margin: 30px auto;
  background: #444;
  position: relative;
  clear: both;
  overflow: none;
}

.details img {
  height: 300px;
  float: right;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}

.details h4 {
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.details p {
  font-size: 18px;
  line-height: 2;
  margin: 15px;
}
