/* new book submission form */

.create-view {
  display: none;
  width: 480px;
}

/* main navigation and drop down menu */

.main-nav {
  cursor: pointer;
  text-align: center;
  margin-top: -32px;
  font-size: 30px;
  position: fixed;
  width: 480px;
  color: #C13F32;
}

.drop-down {
  position: absolute;
  width: 480px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: none;
  opacity: 0.5;
  z-index: 2;
}

.drop-down li {
  font-size: 20px;
  padding: 25px;
  width: 430px;
  background: rgb(156, 15, 86);
  border-bottom: 1px solid black;
}

.drop-down li:last-child {
  border-bottom: none;
}

.drop-down li:hover {
  background: black;
  color: rgb(231, 24, 35)
}