/* Module CSS Goes Below */

.create-view {
  display: none;
  width: 455px;
}
  .mainNavDropDown{
    position: absolute;
    width: 480px;
    padding-left: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: none;
    opacity: 0.5;
    z-index: 2;
   }
  .mainNavDropDown li{
    font-size: 20px;
    padding: 25px;
    width: 100%;
    background: rgb(156, 15, 86);
    border-bottom: 1px solid black;
   }
  .mainNavDropDown li:last-child{
    border-bottom: none;
   }
  .mainNavDropDown li:hover{
    background: black;
    color: rgb(231, 24, 35)
   }